p Hello #{name}

- url = 'http://dev.pipauls.io:5000/#/updatePassword?token=' + token

p Please click here to update your password: 
  a(href=url) Update the password

p or copy the following link to your favorite browser : #{url}

p Joe, from P!Pauls
