//this is a test
@import "./base";

$header-background-color: #fff;
$color: #495060;
$min-sider_width: 200px;

//Order of properties to follow:
// Positioning
// BoxModel
// Typography
// Visual
// OtherProperties

.Layout{
  // Positioning
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // BoxModel
  height: 100vh;
  // Typography
  // Visual
  // OtherProperties
}

.Body {
  // Positioning
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // BoxModel
  height: 100%;
  // Typography
  // Visual
  // OtherProperties
}

.Header{
  // Positioning
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  // BoxModel
  padding: 0;
  padding-top: 4px;
  height: 60px;
  // Typography
  // Visual
  background-color: $header-background-color;
  border-bottom: solid 1px #e6e6e6;
  // OtherProperties
  &__LogoContainer {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    width: $min-sider_width;
    height: 60px;
    border: 0 none;
    // Typography
    // Visual
    // OtherProperties
  }
  &__Logo {
    @extend .Header;
    // Positioning
    position: relative;
    float: left;
    // BoxModel
    padding-top: 0px;
    width: 100px;
    height: 30px;
    border: 0 none;
    // Typography
    // Visual
    border-radius: 3px;
    // OtherProperties
  }
  &__Dorpdown {
    @extend .Header;
    // Positioning
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    // BoxModel
    padding-top: 0px;
    border: 0 none;
    width: 200px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Left {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-left: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Right {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-right: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
}

.ContentContainer {
  width: 100%;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.Content {
  color: #606266;
  &__ButtonContainer {
    @extend .Content;
    float: right;
    padding: 3px 0;
  }
  &__Button{
    @extend .Content;
    float: right;
    padding: 3px 0
  }
  &__Form {
    @extend .Content;
    max-width:600px;
  }
  &__FormContainer {
    @extend .Content;
    display:inline;
  }
  &__Input--Inactive {
    @extend .Content;
    width: 200px;
    float: left;
    clear: none;
    disabled: disabled;
  }
  &__Input--Search {
    @extend .Content;
    max-width:400px;
    margin:20px 0;
  }
  &__List{
    @extend .Content;
    list-style: none;
  }
  &__ListItem{
    @extend .Content;
    font:14px;
    font-style:bold;
  }
  &__Table {
    @extend .Content;
    width: 100%;
    margin-bottom: 20px;
  }
  &__Text--Suffix {
    @extend .Content;
    float: left;
  }
  &__Card {
    @extend .Content;
    max-width:400px;
    width: 100%;
    margin: 0px auto;
  }
  &__CardBody {
    @extend .Content;
    min-height:90px;
  }
  &__CardButtonContainer {
    @extend .Content;
    min-height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__CardButton--CenterBig {
    @extend .Content;
    font-size: 50px
  }
  &__CardButton--Large {
    @extend .Content;
    width: 100%;
  }
  &__CardContainer {
    @extend .Content;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    &--Small {
      @extend .Content__CardContainer;
      min-width:400px;
      min-height:150px;
      float:left;
      padding:25px;
    }
  }
  &__CardHeader {
    @extend .Content;
    font-size: 18px;
    font-weight: bold;
    &--italic {
      @extend .Content__CardHeader;
      font-style:italic;
      font-weight: normal;
    }
  }
  &__CardInput--Shorter {
    @extend .Content;
    width: 200px;
    float: left;
    clear: both;
  }
  &__CardText--Suffix {
    @extend .Content;
    float: left;
  }
}

.Dialog__Form {
  max-width:600px;
}

.Sider {
  min-width: $min-sider_width;
  height: 100%;
  border-right: solid 1px #e6e6e6;
  &__MenuContainer {
    @extend .Sider
  }
}
