//this is a test
@import "./base";

$header-background-color: #545c64;

//Order of properties to follow:
// Positioning
// BoxModel
// Typography
// Visual
// OtherProperties

.Layout{
  // Positioning
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // BoxModel
  height: 100vh;
  // Typography
  // Visual
  // OtherProperties
}

.Body {
  // Positioning
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // BoxModel
  height: 100%;
  // Typography
  // Visual
  // OtherProperties
}

.Header{
  // Positioning
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // BoxModel
  padding: 0;
  padding-top: 4px;
  width: 100%;
  height: 60px;
  // Typography
  // Visual
  background-color: $header-background-color;
  // OtherProperties
  &__LogoContainer {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    width: 200px;
    height: 60px;
    // Typography
    // Visual
    // OtherProperties
  }
  &__Logo {
    @extend .Header;
    // Positioning
    position: relative;
    float: left;
    top: 15px;
    left: 20px;
    // BoxModel
    padding-top: 0px;
    width: 100px;
    height: 30px;
    // Typography
    // Visual
    background: #5b6270;
    border-radius: 3px;
    // OtherProperties
  }
}

.Sider {
  width: 300px;
  height: 100%;
}

.Content {
  width: 100%;
}


.Content__Table {
  width: 100%;
  margin-bottom: 20px;
}

.Content__FormContainer {
  display:inline;
}

.Content__Form {
  max-width:600px;
}

.Content__Input--Inactive {
  width: 200px;
  float: left;
  clear: none;
  disabled: disabled;
}

.Content__Text--Suffix {
  float: left;
}

.Dialog__Form {
  max-width:600px;
}

// Will be deprecated
.Header__MenuContainer {
    width: 100%;
    margin: 0;
}

// Will be deprecated
.Header__MenuItem--Right {
  float: right;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Card {
  max-width:400px;
  width: 100%;
  margin: 0px auto;
}

.Card__Header {
  font-size: 18px;
  font-weight: bold;
}

.Card__Header--italic {
  font-style:italic;
  font-weight: normal;
}

.Card__Input--Shorter {
  width: 200px;
  float: left;
  clear: both;
}

.Card__Text--Suffix {
  float: left;
}

.Card__Body {
  min-height:90px;
}
