//this is a test
@import "./base";

$header-background-color: #fff;
$color: #495060;
$min-sider_width: 200px;

//Order of properties to follow:
// Positioning
// BoxModel
// Typography
// Visual
// OtherProperties

.Layout{
  // Positioning
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // BoxModel
  height: 100vh;
  // Typography
  // Visual
  // OtherProperties
}

.Body {
  // Positioning
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  // BoxModel
  height: 100%;
  // Typography
  // Visual
  // OtherProperties
}

.Header{
  // Positioning
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  // BoxModel
  padding: 0;
  padding-top: 4px;
  height: 60px;
  // Typography
  // Visual
  background-color: $header-background-color;
  border-bottom: solid 1px #e6e6e6;
  // OtherProperties
  &__LogoContainer {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    width: $min-sider_width;
    height: 60px;
    border: 0 none;
    // Typography
    // Visual
    // OtherProperties
  }
  &__Logo {
    @extend .Header;
    // Positioning
    position: relative;
    float: left;
    // BoxModel
    padding-top: 0px;
    width: 100px;
    height: 30px;
    border: 0 none;
    // Typography
    // Visual
    border-radius: 3px;
    // OtherProperties
  }
  &__Dorpdown {
    @extend .Header;
    // Positioning
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    // BoxModel
    padding-top: 0px;
    border: 0 none;
    width: 200px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Left {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-left: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
  &--Right {
    @extend .Header;
    // Positioning
    // BoxModel
    padding-top: 0px;
    padding-right: 20px;
    // Typography
    // Visual
    // OtherProperties
  }
}

.Sider {
  min-width: $min-sider_width;
  height: 100%;
  border-right: solid 1px #e6e6e6;
  &__MenuContainer {
    @extend .Sider
  }
}

.Content {
  width: 100%;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}


.Content__Table {
  width: 100%;
  margin-bottom: 20px;
}

.Content__FormContainer {
  display:inline;
}

.Content__Form {
  max-width:600px;
}

.Content__Input--Inactive {
  width: 200px;
  float: left;
  clear: none;
  disabled: disabled;
}

.Content__Text--Suffix {
  float: left;
}

.Dialog__Form {
  max-width:600px;
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Card {
  max-width:400px;
  width: 100%;
  margin: 0px auto;
}

.Card__Header {
  font-size: 18px;
  font-weight: bold;
}

.Card__Header--italic {
  font-style:italic;
  font-weight: normal;
}

.Card__Input--Shorter {
  width: 200px;
  float: left;
  clear: both;
}

.Card__Text--Suffix {
  float: left;
}

.Card__Body {
  min-height:90px;
}
